/* Add this to your component CSS file or global styles */
.patient-card {
    max-width: 600px;
    margin: auto;
    background-color: rgb(115, 229, 255);
  }
  
  .mat-card-content {
    padding: 16px;
  }
  
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  table.mat-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th.mat-header-cell,
  td.mat-cell {
    padding: 16px;
    text-align: left;
  }
  
  .mat-header-cell {
    font-weight: bold;
    background-color: #f1f1f1;
  }
  
  .mat-row {
    border-bottom: 1px solid #ddd;
  }
  .example-card {
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .example-header-image {
    background-size: cover;
  }
  .graph-container {
    position: relative;
    width: 600px;
    height: 400px;
 
    margin-left: 100px;
    margin-bottom: 20px;
  }
  .axis {
    position: absolute;
    background-color: #333;
  }
  .x-axis {
    width: 150%;
    height: 2px;
    bottom: 0;  /* Positionne l'axe X en bas du conteneur */
  }
  .y-axis {
    width: 2px;
    height: 100%;
    left: 60px;  /* Positionne l'axe Y à gauche du conteneur */
    top: 0;
  }
  
  .bar {
    position: absolute;
    width: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 0px;  /* Pour des coins arrondis sur la barre */
    bottom: 0;  /* Place les barres au niveau de l'axe X */
  }
  
  .labels {
    position: absolute;
    font-size: 12px;
  }
  
  .x-label {
    bottom: -20px;  /* Positionne les labels X en dessous de l'axe X */
    transform: translateX(-50%);  /* Centre les labels X par rapport à leur position */
  }
  
  .y-label {
    left: -50px;  /* Positionne les labels Y à gauche de l'axe Y */
    transform: translateY(50%);  /* Centre verticalement les labels Y par rapport à leur position */
  }
  